$primary: #4b6587 !default;
$primary-dark: #263344 !default;
$secondary: #c8c6c6 !default;
$secondary-white-1: #f7f6f2 !default;
$secondary-white-2: #f0e5cf !default;
$icon-gray: #818181 !default;
$border-radius-xl: 1rem !default;
@import '~bootstrap/scss/bootstrap.scss';
